#landing {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#landing::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../images/temp/pocetna.jpg");
    background-size: cover;
    background-position: center;
}

#landing .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    position: absolute;
    left: 15%;
    padding: 40px 80px 40px 80px;
    z-index: 1;
    outline: 1px solid var(--color-text-heading);
    border-radius: 5px;

    overflow: hidden;
}

#landing .text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: var(--color-page-window);
    z-index: -1;
    opacity: 0.8;
    border-radius: 5px;
}

#landing .text h1 {
    font-size: 40px;
    width: 100%;
    position: relative;
}

#landing .text h1::before {
    content:'';
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: var(--color-text-heading);
}

#landing .text h2 {
    font-size: 18px;
}

#landing .text h3 {
    font-size: 12px;
}

#landing .text :is(h1,h2,h3) {
    margin: 0px;
    color: var(--color-text-heading);
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 2px 10px var(--color-text-shadow);
}

#landing .text a {
    position: relative;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    color: var(--color-text-main);
}

#landing .text a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: var(--color-text-heading);
    z-index: -1;
    opacity: 0.9;
    border-radius: 1px 8px 1px 8px;
    box-shadow: 0px 2px 5px var(--color-text-shadow);
}

#landing .text .decorations {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    overflow: hidden;

    pointer-events: none;
    user-select: none;
}

#landing .text .decorations img {
    position: absolute;
    width: 90px;
    height: auto;
}

#landing .text .decorations img.first {
    right: -20px;
    bottom: -40px;
}

#landing .text .decorations img.second {
    left: -30px;
    top: -40px;
    transform: scaleY(-1);
}

#landing .transition {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(0deg, var(--color-page-main) 0%, rgba(255,255,255,0) 100%);
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
}

#about .wrapper {
    width: 1024px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#about .wrapper h1 {
    color: var(--color-text-heading);
    font-weight: normal;
    text-shadow: 0px 0px 2px var(--color-text-shadow);
}

#about .wrapper p {
    font-size: 20px;
    text-align: justify;
    width: 100%;
}

@media (max-width: 1024px) {    
    #landing .text {
        position: relative;
        left: auto;
    }

    #about .wrapper {
        width: auto;
        margin: 20px;
    }
}

@media (max-width: 512px) {
    #landing .text {
        padding: 20px 40px 20px 40px;
    }

    #landing .text h1 {
        font-size: 30px;
    }

    #landing .text a {
        font-size: 12px;
        padding: 8px 13px 8px 13px;
    }

    #landing .text .decorations img {
        width: 60px;
    }

    #landing .text .decorations img.first {
        right: -15px;
        bottom: -30px;
    }
    
    #landing .text .decorations img.second {
        left: -20px;
        top: -30px;
    }
}

@media (max-width: 375px) {
    #landing .text h1 {
        font-size: 26px;
    }

    #landing .text h2 {
        font-size: 14px;
    }

    #landing .text h3 {
        font-size: 10px;
    }

    #about .wrapper p {
        font-size: 13px;
    }
}