#landing {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#landing::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../images/gallery/building0.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#landing .transition {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(0deg, var(--color-page-main) 0%, rgba(255,255,255,0) 100%);

    transition-duration: var(--transition-short);
}

#landing .transition.inactive {
    opacity: 1;
}

#landing .transition.active {
    opacity: 0;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
}

#about .wrapper {
    width: 1024px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#about .wrapper h1 {
    color: var(--color-text-heading);
    font-weight: normal;
    text-shadow: 0px 0px 2px var(--color-text-shadow);
}

#about .wrapper p {
    font-size: 20px;
    text-align: justify;
    width: 100%;
}

@media (width > 1280px) {
    #landing .textbox {
        left: 15%;
    }
}

@media (max-width: 1280px) {
    #landing .textbox {
        left: auto;
    }

    #about .wrapper {
        width: auto;
        margin: 20px;
    }
}

@media (max-width: 375px) {
    #about .wrapper p {
        font-size: 13px;
    }
}