body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    overflow: hidden;
}

body main {
    flex-grow: 1;
}

header {
    position: relative;
}

header .wrapper {
    box-shadow: 0px 0px 10px var(--color-page-window);
}

#map {
    width: 100%;
    height: 100%;
    border: 0px;
}

footer {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

footer .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    gap: 20px;
    padding: 20px;
    
    
    z-index: 1;
    background: radial-gradient(circle, var(--color-page-main) 15%, rgba(255,255,255,0) 100%);
}

footer .wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0;
    background-color: var(--color-page-main);
}

footer .wrapper h1 {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

footer .wrapper .button {
    pointer-events: all;
}

footer .wrapper .button::before {
    box-shadow: 0px 0px 8px var(--color-text-heading);
}

footer .wrapper .button::before {
    opacity: 1;
}

@media (max-width: 768px) {
    footer {
        position: relative;
    }
}