#selector .transition {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(0deg, var(--color-page-main) 0%, rgba(255,255,255,0) 100%);
}

#selector .content .wrapper .decorations {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    overflow: hidden;

    pointer-events: none;
    user-select: none;
}

#selector .content .wrapper .decorations img {
    position: absolute;
    width: 90px;
    height: auto;
}

#selector .content .wrapper .decorations img.first {
    right: -20px;
    bottom: -40px;
}

#selector .content .wrapper .decorations img.second {
    left: -30px;
    top: -40px;
    transform: scaleY(-1);
}

#selector {
    width: 100%;
    height: 100vh;
    position: relative;
}

#selector img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#selector .content :is(h1, h2) {
    margin: 0px;
    font-weight: normal;
    text-align: center;
    color: var(--color-text-heading);
    text-shadow: 0px 2px 10px var(--color-text-shadow);
}

#selector .content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#selector .content .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px 80px 40px 80px;
    z-index: 1;
    gap: 40px;

    border-radius: 5px;
    outline: 1px solid var(--color-text-heading);
}

#selector .content .wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: var(--color-page-window);
    z-index: -1;
    opacity: 0.8;
    border-radius: 5px;
}

#selector .content .wrapper .selections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

#selector .content .wrapper .selections .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#selector .content .wrapper .selections .item>h2 {
    height: fit-content;
    font-size: 22px;
}

#selector .content .wrapper .selections .item .options {
    position: relative;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    gap: 10px;
    padding: 10px 20px 10px 30px;

    cursor: pointer;
    background-color: var(--color-text-heading);
    border-radius: 1px 1px 8px 8px;
    box-shadow: 0px 2px 5px var(--color-text-shadow);
}

#selector .content .wrapper .selections .item .options img {
    opacity: 0.7;
    width: 16px;
    height: auto;
    object-fit: contain;
}

#selector .content .wrapper .selections .item .options h2 {
   margin: 0px;
   font-size: 16px;
   text-shadow: unset;
   color: var(--color-text-main);
}

#selector .content .wrapper .selections .item .options ul {
    position: absolute;
    margin: 0px;
    padding: 25px 0px 25px 0px;
    top: 100%;
    left: 0px;
    width: 100%;
    z-index: 1;

    list-style-type: none;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    gap: 25px;

    border-radius: 5px;
    outline: 1px solid var(--color-text-heading);

    clip-path: inset(-1% -1% 101% -1%);
}

#selector .content .wrapper .selections .item .options ul.inactive {
    clip-path: inset(-1% -1% 101% -1%);
}

#selector .content .wrapper .selections .item .options ul.active {
    clip-path: inset(-1% -1% -1% -1%);
}

#selector .content .wrapper .selections .item .options ul::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: var(--color-page-window);
    z-index: -1;
    opacity: 0.95;
    border-radius: 5px;
}

#selector .content .wrapper .selections .item .options li {
    text-align: center;
    color: var(--color-text-heading);
    cursor: pointer;
    font-size: 14px;
}

#selector .content .wrapper .selections .item .options li:hover {
    color: var(--color-page-main);
}

#selector .content .wrapper .search {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 15px 10px 15px;

    cursor: pointer;
    background-color: var(--color-text-heading);
    border-radius: 8px 1px 8px 1px;
    box-shadow: 0px 2px 5px var(--color-text-shadow);
}

#selector .content .wrapper .search h3 {
    margin: 0px;
    font-size: 16px;
    text-shadow: unset;
    font-weight: normal;
    color: var(--color-text-main);
}

#selector .content .wrapper .search img {
    width: 16px;
    height: auto;
    opacity: 0.7;
    object-fit: contain;
}

#offers {
    margin: 100px 50px 100px 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 100px;
}

#offers .item {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5px;
    padding: 10px 0px 0px 0px;
    outline: 1px solid var(--color-text-heading);
}

#offers .item.active {
    display: flex;
}

#offers .item.inactive {
    display: none;
}

#offers .item :is(h1, h2, h3) {
    margin: 0px 0px 10px 0px;
    font-weight: normal;
    color: var(--color-text-main);
}

#offers .item h1 {
    font-size: 28px;
}

#offers .item h2 {
    font-size: 24px;
}

#offers .item h3 {
    font-size: 20px;
}

#offers .item img {
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

@media (max-width: 1280px) {
    #selector .content .wrapper {
        padding: 20px 40px 20px 40px;
        margin: 0px 20px 0px 20px;
        gap: 25px;
    }

    #selector .content .wrapper .selections {
        width: fit-content;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    #selector .content .wrapper .selections .item {
        width: 100%;
        justify-content: space-evenly;
    }

    #offers {
        margin: 100px 40px 100px 40px;
        gap: 50px 50px;
    }
}

@media (max-width: 640px) {
    #selector .content .wrapper .selections .item>h2 {
        font-size: 18px;
    }

    #selector .content .wrapper .selections .item .options {
        padding: 8px 14px 8px 24px;
    }

    #selector .content .wrapper .selections .item .options h2 {
        font-size: 14px;
    }

    #selector .content .wrapper .search {
        padding: 8px 14px 8px 24px;
    }

    #selector .content .wrapper .search h3 {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    #selector .content .wrapper {
        padding: 20px;
    }

    #selector .content .wrapper .decorations img {
        position: absolute;
        width: 60px;
        height: auto;
    }
    
    #selector .content .wrapper .decorations img.first {
        right: -10px;
        bottom: -30px;
    }
    
    #selector .content .wrapper .decorations img.second {
        left: -15px;
        top: -30px;
        transform: scaleY(-1);
    }

    #selector .content .wrapper .text h1 {
        font-size: 22px;
    }

    #offers .item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media (max-width: 375px) {
    #selector .content .wrapper .selections .item {
        width: 100%;
        flex-direction: column;
        gap: 5px;
    }

    #offers .item :is(h1, h2, h3) {
        margin: 0px 0px 5px 0px;
    }

    #offers .item h1 {
        font-size: 24px;
    }
    
    #offers .item h2 {
        font-size: 20px;
    }
    
    #offers .item h3 {
        font-size: 16px;
    }
}