#landing .transition {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(0deg, var(--color-page-main) 0%, rgba(255,255,255,0) 100%);

    transition-duration: var(--transition-short);
}

#landing .transition.inactive {
    opacity: 1;
}

#landing .transition.active {
    opacity: 0;
}

#landing {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#landing::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../images/gallery/building1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#landing .textbox {
    gap: 40px;
}

#landing .textbox h1 {
    font-size: 30px;
}

.textbox h1::before {
    display: none;
}

#landing .textbox .wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: var(--color-page-window);
    z-index: -1;
    opacity: 0.8;
    border-radius: 5px;
}

#landing .textbox .selections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

#landing .textbox .selections .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#landing .textbox .selections .item>h2 {
    height: fit-content;
    font-size: 22px;
}

#landing .textbox .selections .item .options {
    position: relative;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    gap: 10px;
    padding: 10px 20px 10px 30px;

    cursor: pointer;
    background-color: var(--color-text-heading);
    border-radius: 1px 1px 8px 8px;
    box-shadow: 0px 2px 5px var(--color-text-shadow);
}

#landing .textbox .selections .item .options img {
    opacity: 0.7;
    width: 16px;
    height: auto;
    object-fit: contain;
}

#landing .textbox .selections .item .options h2 {
   margin: 0px;
   font-size: 16px;
   text-shadow: unset;
   color: var(--color-text-main);
}

#landing .textbox .selections .item .options ul {
    position: absolute;
    margin: 0px;
    padding: 25px 0px 25px 0px;
    top: 100%;
    left: 0px;
    width: 100%;
    z-index: 20;

    list-style-type: none;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    gap: 25px;

    border-radius: 5px;
    outline: 1px solid var(--color-text-heading);

    clip-path: inset(-1% -1% 101% -1%);
}

#landing .textbox .selections .item .options ul.inactive {
    clip-path: inset(-1% -1% 101% -1%);
}

#landing .textbox .selections .item .options ul.active {
    clip-path: inset(-1% -1% -1% -1%);
}

#landing .textbox .selections .item .options ul::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: var(--color-page-window);
    z-index: -1;
    opacity: 0.95;
    border-radius: 5px;
}

#landing .textbox .selections .item .options li {
    text-align: center;
    color: var(--color-text-heading);
    cursor: pointer;
    font-size: 14px;
}

#landing .textbox .search {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 15px 10px 15px;

    cursor: pointer;
    background-color: var(--color-text-heading);
    border-radius: 8px 1px 8px 1px;
    box-shadow: 0px 2px 5px var(--color-text-shadow);
}

#landing .textbox .search h3 {
    margin: 0px;
    font-size: 16px;
    text-shadow: unset;
    font-weight: normal;
    color: var(--color-text-main);
}

#landing .textbox .search img {
    width: 16px;
    height: auto;
    opacity: 0.7;
    object-fit: contain;
}

#offers {
    margin: 100px 50px 0px 50px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 100px;
}

#offers .item {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5px;
    padding: 10px 0px 0px 0px;
    outline: 1px solid var(--color-text-heading);
}

#offers .item.active {
    display: flex;
}

#offers .item.inactive {
    display: none;
}

#offers .item :is(h1, h2, h3) {
    margin: 0px 0px 10px 0px;
    font-weight: normal;
    color: var(--color-text-main);
}

#offers .item h1 {
    font-size: 28px;
}

#offers .item h2 {
    font-size: 24px;
}

#offers .item h3 {
    font-size: 20px;
}

#offers .item img {
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

@media (hover: hover) {
    #landing .textbox .selections .item .options li:hover {
        color: var(--color-page-main);
    }
}

@media (max-width: 1280px) {
    #landing .textbox {
        padding: 20px 40px 20px 40px;
        margin: 0px 20px 0px 20px;
        gap: 25px;
    }

    #landing .textbox .selections {
        width: fit-content;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    #landing .textbox h1 {
        font-size: 28px;
    }

    #landing .textbox .selections .item {
        width: 100%;
        justify-content: space-evenly;
    }

    #offers {
        margin: 100px 40px 100px 40px;
        gap: 50px 50px;
    }
}

@media (max-width: 640px) {
    #landing .textbox .selections .item>h2 {
        font-size: 18px;
    }

    #landing .textbox .selections .item .options {
        padding: 8px 14px 8px 24px;
    }

    #landing .textbox .selections .item .options h2 {
        font-size: 14px;
    }

    #landing .textbox .search {
        padding: 8px 14px 8px 24px;
    }

    #landing .textbox .search h3 {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    #landing .textbox h1 {
        font-size: 24px;
    }

    #landing .content .wrapper {
        padding: 20px;
    }

    #landing .content .wrapper .text h1 {
        font-size: 22px;
    }

    #offers .item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media (max-width: 375px) {
    #landing .textbox .selections .item {
        width: 100%;
        flex-direction: column;
        gap: 5px;
    }

    #offers .item :is(h1, h2, h3) {
        margin: 0px 0px 5px 0px;
    }

    #offers .item h1 {
        font-size: 24px;
    }
    
    #offers .item h2 {
        font-size: 20px;
    }
    
    #offers .item h3 {
        font-size: 16px;
    }
}